#canvasContainer {
    min-width: 720px;
    max-width: 720px;
    background-color: white;
    min-height: 720px;
    max-height: 720px;
    border-style: solid;
    border-width:5px;
    border-color:black;
}

.grid-container{
    display: grid;
}

.grid-item{
    background-color:white;
}

#reset {
    color: white;
    border-style: solid;
    border-radius: 12px;
    border-color: rgb(201, 201, 201);
    box-shadow: 0px 12px rgb(112, 112, 112);
    font-size: 48px;
    background-color: red;
    border-width: 12px;
    font-weight:900px;
    padding: 12px;
}